extends layout

block content
  h1= title

  form(method='POST' action='')
    div(class="form-group")
      label(for="bikeName") Bike Name: 
      input(type="text" placeholder="REQUIRED" name="bikeName" required="true" value=(undefined===bike ? "" : bike.bike))
    div.form-group
      label(for="price") Price: $
      input(type="number" placeholder="REQUIRED" step="0.01" name="price" required="true" value=(undefined===bike ? "" : bike.price))
    div.form-group
      label(for="manf") Manufacturer: 
      input(type="text" placeholder="" name="manf" value=(undefined===bike ? "" : bike.manf))
    div.form-group
      label(for="year") Year: 
      input(type="text" placeholder="" name="year" value=(undefined===bike ? "" : bike.year))
    div.form-group
      label(for="frame") Frame Material: 
      input(type="text" placeholder="Aluminum, Steel, etc." name="frame" value=(undefined===bike ? "" : bike.frame))
    div.form-group
      label(for="brakes") Brake Type: 
      input(type="text" placeholder="Disc, Rim, etc." name="brakes" value=(undefined===bike ? "" : bike.brakes))
    div.form-group
      label(for="invCount") Inventory Count: 
      input(type="number" name="invCount" value=(undefined===bike ? 0 : bike.invCount))
    div.radio-buttons
      label Bike Class:
        br
        div
          input(type="radio" name="class" id="street" value="Street" checked=(bike===undefined ? true : bike.class==="Street"))
          label(for="street") Street
        div
          input(type="radio" name="class" id="gravel" value="Gravel" checked=(bike===undefined ? false : bike.class==="Gravel"))
          label(for="gravel") Gravel
        div
          input(type="radio" name="class" id="mountain" value="Mountain" checked=(bike===undefined ? false : bike.class==="Mountain"))
          label(for="mountain") Mountain
    div.form-group
      label(for="wheels") Wheels: 
      input(type="text" name="wheels" value=(undefined===bike ? "" : bike.wheels))
    div.form-group
      label(for="crankset") Crankset: 
      input(type="text" name="crankset" value=(undefined===bike ? "" : bike.crankset))
    div.form-group
      label(for="drivetrain") Drivetrain: 
      input(type="text" name="drivetrain" value=(undefined===bike ? "" : bike.drivetrain))
    div.form-group
      label(for="tires") Tires: 
      input(type="text" name="tires" value=(undefined===bike ? "" : bike.tires))
    button.form-button(type="submit") Submit

  if errors
    ul
      for error in errors
        li!= error.msg
