doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="layout-navbar")
      p  
        a(href="/index") Home
    hr
    block content
