body {
  padding: 36px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-top: 0;
}

a {
  color: #00B7FF;
}

.index-hyperlink {
  margin-bottom: 16px;
  font-size: 18px;
}

.list-items {
  font-size: 18px;
  margin-bottom: 8px;
}

.list-header {
  font-size: 18px;
}

